<div class="home-dash">
    <div class=" d-flex justify-content-between align-items-center">

        <div class="page-title">
            <h4 translate>exchange-book</h4>
        </div>
        <app-back-button></app-back-button>

    </div>
    <div class="service-form">

        <div class="row">
            <div class="col-md-3">
                <div class=" card-view">
                    <label class="form-label" translate>RESPONSIBLE_NAME</label>
                    <h3 translate>form.librarian</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" card-view">
                    <label class="form-label" translate>form.name</label>
                    <h3>{{LibRequestVM.beneficiaryName}}</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" card-view">
                    <label class="form-label" translate>form.mail</label>
                    <h3>{{LibRequestVM.beneficiaryEmail}}</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class=" card-view">
                    <label class="form-label" translate>form.phone</label>
                    <h3>{{LibRequestVM.beneficiaryMobile}}</h3>
                </div>
            </div>


        </div>

        <div class="table-responsive">
            <table id="bookgiftSearch" class="table table-striped ">
                <thead>
                    <tr>
                        <th scope="col" style="width: 2%;">#</th>

                        <th scope="col" style="width: 36%;" translate="">ex-book</th>
                        <th scope="col" style="width: 7%;" translate="">copy-num</th>
                        <th scope="col" translate="" style="width: 4%;"></th>
                        <th scope="col" translate="" style="width: 36%;">ex-book-to</th>
                        <th scope="col" style="width: 7%;" translate="">copy-num</th>
                        <th scope="col" translate="" style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ListToView ; let i = index">
                        <th scope="row">1</th>
                        <td>
                            <div class="book-ex-card">
                                <h4>{{item.replicaBookTitle}}</h4>
                                <div class="d-flex justify-content-center">
                                    <div>
                                        <span class="" translate="">form.author</span>
                                        &nbsp;: &nbsp;
                                        <h5 class=" ">{{item.replicaAuthorName}}</h5>
                                    </div>
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                    <div>
                                        <span class="" translate="">publish-date</span>
                                        &nbsp;: &nbsp;
                                        <h5 class=" "> {{item.replicaPublicationDate | date}}</h5>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{item.replicaNumberOfCopies}}
                        </td>
                        <td>
                            <div class="icon-ex">
                                <img src="assets/img/exchange.png" class="" style="width: 30px;" alt="">
                            </div>
                        </td>
                        <td>
                            <div class="book-ex-card">
                                <h4>{{item.bookTitle}} </h4>
                                <div class="d-flex justify-content-center">
                                    <div>
                                        <span class="" translate="">form.author</span>
                                        &nbsp;: &nbsp;
                                        <h5 class=" ">{{item.authorName}} </h5>
                                    </div>
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                    <div>
                                        <span class="" translate="">publish-date</span>
                                        &nbsp;: &nbsp;
                                        <h5 class=" "> {{item.publicationDate | date}}</h5>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            {{item.numberOfNeededCopies}}
                        </td>
                        <td style="text-align: start">
                            <div class="form-check">
                                <!-- <input class="form-check-input" [checked]="isCheckedsubmit"  type="checkbox" value="" id="flexCheckDefault"> -->
        
                                <input class="form-check-input" [checked]="item.bookStatusId!=RequestStatusEnum.Pending" type="checkbox"
                                [(ngModel)]="item.isChecked" name="isChecked_{{i}}" id="flexCheckDefault" [disabled]="LibRequestVM.requestStatusId != RequestStatusEnum.Pending&&isDone==true">
                                <label class="form-check-label" for="flexCheckDefault" translate="">
                                    approve
                                </label>
                              </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <div class="page-title" *ngIf="">
            <h4 style="font-size: 18px;" translate>REQUEST_COMMENTS</h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="comment-cont">
                    <div class="card-comment" *ngFor="let comment of ListOfComment"
                        [ngClass]="isMyReply(comment) == true ? 'right-side' :'left-side'">
                        <label class="form-label">{{comment.userName}}</label>
                        <h3>{{comment.comment}}</h3>
                        <label class="form-label">{{comment.createdDate | date}} &nbsp; {{comment.createdDate |
                            date:'shortTime'}}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form #rf="ngForm">
                    <div class="mb-3">
                        <label class="form-label" translate>{{'ADD_COMMENT' | translate}}</label>
                        <textarea [(ngModel)]="CommentVm.comment" required type="text" class="form-control" id="text"
                            name="comment" placeholder="{{'ADD_COMMENT' | translate}}">
                         </textarea>

                    </div>
                    <button class="btn btn-comment" (click)="AddComment()" translate>ADD</button>

                </form>
            </div>


        </div>


        <hr>

        <form #f="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" [disabled]="isDone==true"
                                [checked]="LibRequestVM.requestStatusId == RequestStatusEnum.Approved"
                                (click)="setRequestStatus(RequestStatusEnum.Approved); f.form.markAsDirty();"
                                name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1" translate>
                                accept-req
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" translate>insructions-needed</label>
                        <textarea class="textarea form-control" (change)="ForceDecide()"
                            [readOnly]="isDone==true||LibRequestVM.requestStatusId== RequestStatusEnum.Rejected||ForceDecide()"
                            [(ngModel)]="LibRequestVM.instructions" name="instructions" #instructions="ngModel"
                            name="instructions" id="textarea" rows="3"></textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" [disabled]="isDone==true"
                                (click)="setRequestStatus(RequestStatusEnum.Rejected); f.form.markAsDirty();"
                                [checked]="LibRequestVM.requestStatusId == RequestStatusEnum.Rejected"
                                name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1" translate>
                                reject-req
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" translate>reject-reason</label>
                        <textarea class="textarea form-control" name="reasonOfRejection" (change)="ForceDecide()"
                            [readOnly]="isDone==true ||LibRequestVM.requestStatusId== RequestStatusEnum.Approved||ForceDecide()"
                            [(ngModel)]="LibRequestVM.reasonOfRejection" name="reasonOfRejection"
                            [required]="LibRequestVM.requestStatusId == RequestStatusEnum.Rejected"
                            #reasonOfRejection="ngModel" id="textarea" rows="3"></textarea>
                        <div *ngIf="reasonOfRejection.errors && reasonOfRejection.touched"
                            class="alert alert-danger mt-2 mb-2">
                            <div *ngIf="reasonOfRejection.errors.required">
                                {{'REQUIRED_FIELD' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <ngb-alert #staticAlert *ngIf="!staticAlertClosed" (closed)="staticAlertClosed = true" translate>
                    CHANGES_SAVED_SUCCESSFULLY
                </ngb-alert>
            </div>
            <div class="row justify-content-center" *ngIf="isDone==false">
                <div class="col-md-4">
                    <button class="btn btn-primary btn-submit"
                        [disabled]="!f.dirty || ((f.valid && f.submitted) && confirmationModalService.response)"
                        (click)="submitForm(f)" translate>send</button>

                </div>
            </div>
        </form>
    </div>

    <div class="row mt-4">
        <hr>
        <div class="page-title">
            <h4 style="font-size: 18px;" translate>serv-review</h4>
        </div>
        <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-start" style="margin-top: -12px;">
                <ngb-rating [(rate)]="serviceRating.rate" [max]="5" [readonly]="true">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                    </ng-template>
                </ngb-rating>
                <h5 class="rate-num">( {{serviceRating?.rate}} )</h5>
            </div>
        </div>
    </div>
</div>