<div class="home-dash">

    <div class="row">
     <div class="d-flex justify-content-between page-head">
    <div class="page-title">
      <h4 translate>{{'myorders' | translate}} ( <span translate style="font-size: 18px; color: #B19556;"> asklibrarian
        </span>(<span translate style="font-size: 18px; color: #B19556;">ARCHIVED</span>))</h4>
    </div>
    <app-back-button></app-back-button>

  </div>
</div>

   <div class="table-responsive">

     <table id="askLibrarianDT" class=" table table-striped  row-border hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" translate="">REQUEST_CONTENT</th>
              <th scope="col" translate="">req-date</th>
              <th scope="col" translate="">EMPLOYEE_RESPONSE</th>
              <th scope="col" translate="">req-actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let inquiry of listToView; let i = index;">
              <th scope="row">{{i + 1}}</th>
              <td>{{inquiry.visitorMessage}}</td>
              <td>{{inquiry.createdDate | date}}</td>
              <td *ngIf="inquiry.response">{{inquiry.response}}</td>
              <td *ngIf="!inquiry.response">{{'NO_RESPONSE_YET' | translate}}</td>
              <td>
                <div class="row-btns">
                    <button type="button" ngbTooltip="{{'archive-restore' | translate}}" tooltipClass="secondary" class="btn btn-secondary" (click)="unArchiveConfirmation(inquiry)">
                      <i class="fas fa-archive "></i>
                    </button>
                </div>
              </td>
            </tr>
          </tbody>
    </table>
    </div>
</div>