<div class="home-dash">

  <div class="page-title">
    <h4 translate>home</h4>
  </div>


  <div class="service-list">
    <div class="row">
      <div class="col-md-3">
        <div class="card service-card service-card2">
          <div class="icon-s">
            <img src="assets/img/come-new.svg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" translate>buybooksugg</h5>
            <div class="buttons d-flex justify-content-between">
            <a href="#" class="btn btn-primary" [routerLink]="['/auth/user/buy-book-form']" translate>serv-req</a>
            <a href="#" class="btn btn-primary btn-primary2" [routerLink]="['/auth/user/buy-book-view']" translate>VIEW_REQUESTS</a>
           </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card service-card service-card2">
          <div class="icon-s">
            <img src="assets/img/come-new.svg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" translate>asklibrarian</h5>
            <div class="buttons d-flex justify-content-between">
              <a href="#" class="btn btn-primary" [routerLink]="['/auth/user/ask-librarian-form']" translate>serv-req</a>
              <a href="#" class="btn btn-primary btn-primary2" [routerLink]="['/auth/user/ask-librarian-view']" translate>VIEW_REQUESTS</a>
             </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card service-card service-card2">
          <div class="icon-s">
            <img src="assets/img/come-new.svg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" translate>visitlibrary</h5>
            <div class="buttons d-flex justify-content-between">
              <a href="#" class="btn btn-primary" [routerLink]="['/auth/user/visit-library-form']" translate>serv-req</a>
              <a href="#" class="btn btn-primary btn-primary2" [routerLink]="['/auth/user/visit-library-view']" translate>VIEW_REQUESTS</a>
             </div>
          </div>
        </div>
      </div>
   
      <div class="col-md-3">
        <div class="card service-card service-card2">
          <div class="icon-s">
            <img src="assets/img/come-new.svg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" translate>researchretreat</h5>
            <div class="buttons d-flex justify-content-between">
              <a href="#" class="btn btn-primary" [routerLink]="['/auth/user/research-retreat-form']" translate>serv-req</a>
              <a href="#" class="btn btn-primary btn-primary2" [routerLink]="['/auth/user/research-retreat-view']" translate>VIEW_REQUESTS</a>
             </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card service-card service-card2">
          <div class="icon-s">
            <img src="assets/img/come-new.svg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" translate>scientific-thesis</h5>
            <div class="buttons d-flex justify-content-between">
              <a href="#" class="btn btn-primary" [routerLink]="['/auth/user/scientific-thesis-form']" translate>serv-req</a>
              <a href="#" class="btn btn-primary btn-primary2" [routerLink]="['/auth/user/scientific-thesis-view']" translate>VIEW_REQUESTS</a>
             </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card service-card service-card2">
          <div class="icon-s">
            <img src="assets/img/come-new.svg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" translate>BOOKGIFT_SERVICE_NAME</h5>
            <div class="buttons d-flex justify-content-between">
              <a href="#" class="btn btn-primary" [routerLink]="['/auth/user/book-gift-form']" translate>serv-req</a>
              <a href="#" class="btn btn-primary btn-primary2" [routerLink]="['/auth/user/book-gift-view']" translate>VIEW_REQUESTS</a>
             </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card service-card service-card2">
          <div class="icon-s">
            <img src="assets/img/come-new.svg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" translate>REQGIFT_SERVICE_NAME</h5>
            <div class="buttons d-flex justify-content-between">
              <a href="#" class="btn btn-primary" [routerLink]="['/auth/user/request-gift-form']" translate>serv-req</a>
              <a href="#" class="btn btn-primary btn-primary2" [routerLink]="['/auth/user/request-gift-view']" translate>VIEW_REQUESTS</a>
             </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card service-card service-card2">
          <div class="icon-s">
            <img src="assets/img/come-new.svg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" translate>manuscript-request</h5>
            <div class="buttons d-flex justify-content-between">
              <a href="#" class="btn btn-primary" [routerLink]="['/auth/user/manuscript-request-form']" translate>serv-req</a>
              <a href="#" class="btn btn-primary btn-primary2" [routerLink]="['/auth/user/manuscript-request-view']" translate>VIEW_REQUESTS</a>
             </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card service-card service-card2">
          <div class="icon-s">
            <img src="assets/img/come-new.svg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" translate>copy-book</h5>
            <div class="buttons d-flex justify-content-between">
              <a href="#" class="btn btn-primary" [routerLink]="['/auth/user/copy-book-form']" translate>serv-req</a>
              <a href="#" class="btn btn-primary btn-primary2" [routerLink]="['/auth/user/copy-book-view']" translate>VIEW_REQUESTS</a>
             </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card service-card service-card2">
          <div class="icon-s">
            <img src="assets/img/come-new.svg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" translate>exchange-book</h5>
            <div class="buttons d-flex justify-content-between">
              <a href="#" class="btn btn-primary" [routerLink]="['/auth/user/libraries-exchange-form']" translate>serv-req</a>
              <a href="#" class="btn btn-primary btn-primary2" [routerLink]="['/auth/user/libraries-exchange-view']" translate>VIEW_REQUESTS</a>
             </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card service-card service-card2">
          <div class="icon-s">
            <img src="assets/img/come-new.svg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" translate>Subscribe-Selective-Broadcasting</h5>
            <div class="buttons d-flex justify-content-between">
              <!-- <a href="#" class="btn btn-primary" [routerLink]="['/auth/user/libraries-exchange-form']" translate>serv-req</a> -->
              <a href="#" class="btn btn-primary btn-primary2" [routerLink]="['/auth/user/subscribe-list']" translate>VIEW_REQUESTS</a>
             </div>
          </div>
        </div>
      </div>

     
  </div>


</div>