.close{
    margin-bottom: 1rem;
}
.auth-con{
    height: 300px;
    text-align: center;
    padding: 1.5rem;
    border-radius: 5px;

}
.img-auth
{
    width: 14.687rem;
    height: 11.875rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.not-auth-p{
    font-family: montserrat-medium;
}