<div class="home-dash">

    <div class="page-title">
      <h4 translate>home</h4>
    </div>
  
  
    <div class="service-list">
      <div class="row">
        <div class="col-md-4">
          <div class="card service-card">
            <div class="icon-s">
              <!-- <img src="assets/img/come-new.svg" class="card-img-top" alt="..."> -->
              {{employeesCount}}
            </div>
            <div class="card-body">
              <h5 class="card-title" translate>num-employee</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card service-card">
            <div class="icon-s">
              <!-- <img src="assets/img/come-new.svg" class="card-img-top" alt="..."> -->
              {{visitorsCount}}
            </div>
            <div class="card-body">
              <h5 class="card-title" translate>num-users</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card service-card">
            <div class="icon-s">
              <!-- <img src="assets/img/come-new.svg" class="card-img-top" alt="..."> -->
              {{requestsCount}}
            </div>
            <div class="card-body">
              <h5 class="card-title" translate>finished-req</h5>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  
  
  </div>