<div class="home-dash">

    <div class="row">
     <div class="d-flex justify-content-between page-head">
    <div class="page-title">
      <h4 translate>{{'myorders' | translate}} ( <span translate style="font-size: 18px; color: #B19556;">    exchange-book
        </span>(<span translate style="font-size: 18px; color: #B19556;">ARCHIVED</span>))</h4>
    </div>
    <app-back-button></app-back-button>

  </div>
</div>

   <div class="table-responsive">

     <table id="bookgift" class=" table table-striped  row-border hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <!-- <th scope="col" translate="">req-name</th> -->
              <th scope="col" translate="">REQUEST_RESPONSIBLE_NAME</th>
              <th scope="col" translate="">req-date</th>
              <th scope="col" translate="">req-status</th>
              <th scope="col" translate="">req-actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let req of listToView; let i = index;">
                <th scope="row">{{i+1}}</th>
            <!-- <td></td> -->
            <td>{{req.beneficiaryName}}</td>
            <td>{{req.createdDate | date}}</td>
            <td>{{getRequestStatusById(req.requestStatusId)}}</td>
              <td>
                <div class="row-btns">
                    <button type="button" (click)="archiveConfirmation(req)" ngbTooltip="{{'archive-restore' | translate}}" tooltipClass="secondary" class="btn btn-secondary">
                      <i class="fas fa-archive "></i>
                    </button>
                </div>
              </td>
            </tr>
          </tbody>
    </table>
    </div>
</div>

