<div class="print-req">

    <div class=" d-flex align-items-center justify-content-between print-head">
        <div class="logo-img d-flex align-items-center">
            <img src="assets/img/logo-1.png" class="header-brand-img" alt="" style=" width:105px;">
        </div>

        <h4 translate>buybooksugg</h4>

        <div class="logo-text">
            <h5 class="gold"> مــكــتــبــة الــحــرم </h5>
            <h5 class="green"> الـمـكـي الـشـريـف </h5>
        </div>
    </div>

    <div class="service-form">

        <div class="row">
            <div class="col-6">
                <div class=" card-view">
                    <label class="form-label" translate>form.name</label>
                    <h3>{{model?.visitorName}}</h3>
                </div>
            </div>
            <div class="col-6">
                <div class=" card-view">
                    <label class="form-label" translate>form.mail</label>
                    <h3>{{model?.visitorEmail}}</h3>
                </div>
            </div>
            <div class="col-6">
                <div class=" card-view">
                    <label class="form-label" translate>form.phone</label>
                    <h3>{{model?.visitorMobile}}</h3>
                </div>
            </div>
            <div class="col-6">
                <div class="card-view">
                    <label class="form-label" translate>form.grade</label>
                    <h3>{{model?.qualifications}}</h3>
                </div>
            </div>
            <div class="col-6">
                <div class=" card-view">
                    <label class="form-label" translate>form.bookaddress</label>
                    <h3>{{model?.suggestedBookTitle}}</h3>
                </div>
            </div>
            <div class="col-6">
                <div class=" card-view">
                    <label class="form-label" translate>form.author</label>
                    <h3>{{model?.authorName}}</h3>
                </div>
            </div>

            <div class="col-6">
                <div class=" card-view">
                    <label class="form-label" translate>form.publisher</label>
                    <h3>{{model?.publisherName}}</h3>
                </div>
            </div>
            <div class="col-6">
                <div class=" card-view">
                    <label class="form-label" translate>form.placeofpublish</label>
                    <h3>{{model?.placeOfPublication}}</h3>
                </div>
            </div>
            <div class="col-6">
                <div class=" card-view">
                    <label class="form-label" translate>form.yearofpublish</label>
                    <h3>{{model?.yearOfPublication}}</h3>
                </div>
            </div>
            <div class="col-6">
                <div class=" card-view">
                    <label class="form-label" translate>form.number</label>
                    <h3>{{model?.standardBookNumber}}</h3>
                </div>
            </div>
            <div class="col-6">
                <div class=" card-view">
                    <label class="form-label" translate>form.type</label>
                    <h3>{{model ? getBookTypeById(model?.bookTypeId) : ''}}</h3>
                </div>
            </div>
            <div class="col-6">
                <div class=" card-view">
                    <label class="form-label" translate>form.information</label>
                    <h3>{{model?.additionalInformation}}</h3>
                </div>
            </div>

        </div>

    </div>

</div>