<div class="home-dash">
    <div class=" d-flex justify-content-between align-items-center">

    <div class="page-title">
        <h4 translate>asklibrarian</h4>
    </div>
    <app-back-button></app-back-button>

    </div>
    <div class="service-form">

        <div class="row">
            <div class="col-md-4">
                <div class=" card-view">
                    <label class="form-label" translate>RESPONSIBLE_NAME</label>
                    <h3 *ngIf="inquiry.type == InquiryTypesEnum.Librarian" translate>form.librarian</h3>
                    <!-- <h3 *ngIf="inquiry.type == InquiryTypesEnum.LibraryRelations" translate>form.libraryrelations</h3> -->
                    <h3 *ngIf="inquiry.type == InquiryTypesEnum.TechnicalSupport" translate>form.technicalsupport</h3>
                    <h3 *ngIf="inquiry.type == InquiryTypesEnum.HaramMosqueLib" translate>form.HaramMosqueLib</h3>
                    <h3 *ngIf="inquiry.type == InquiryTypesEnum.FemaleHaramMacciLib" translate>form.FemaleHaramMacciLib</h3>
                    <h3 *ngIf="inquiry.type == InquiryTypesEnum.MaleHaramMacciLib" translate>form.MaleHaramMacciLib</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" card-view">
                    <label class="form-label" translate>form.name</label>
                    <h3>{{inquiry.visitorName}}</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" card-view">
                    <label class="form-label" translate>form.mail</label>
                    <h3>{{inquiry.visitorEmail}}</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" card-view">
                    <label class="form-label" translate>form.phone</label>
                    <h3>{{inquiry.visitorMobile}}</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class=" card-view">
                    <label class="form-label" translate>form.question</label>
                    <h3>{{inquiry.visitorMessage}}</h3>
                </div>
            </div>
        </div>

        <hr>

        <form #f="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label class="form-label" translate>answer</label>
                        <textarea class="textarea form-control" id="response" name="response" required
                            placeholder="{{'answer' | translate}}" rows="3" [(ngModel)]="inquiry.response"
                            #response="ngModel"></textarea>
                        <div *ngIf="response.errors && (response.touched)" class="alert alert-danger mt-2 mb-2">
                            <div *ngIf="response.errors.required">
                                {{'REQUIRED_FIELD' | translate}}
                            </div>
                            <div *ngIf="response.errors.pattern">
                                {{'INVALID_INPUT' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4" *ngIf="inquiry.response && serviceRating.rate != 0">
                <hr>    
                <div class="page-title">
                    <h4 style="font-size: 18px;" translate>serv-review</h4>
                </div>
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-start" style="margin-top: -12px;">
                        <ngb-rating [(rate)]="serviceRating.rate" [max]="5" [readonly]="true">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                        <h5 class="rate-num">( {{serviceRating?.rate}} )</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ngb-alert #staticAlert *ngIf="!staticAlertClosed" (closed)="staticAlertClosed = true" translate>
                    CHANGES_SAVED_SUCCESSFULLY
                </ngb-alert>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-4">
                    <button class="btn btn-primary btn-submit" (click)="submitForm(f)" [disabled]="!f.dirty || (f.valid && f.submitted) || !inquiry.response" translate>send</button>
                </div>
            </div>
        </form>
    </div>
</div>