.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(41 113 98);
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(41 ,113 , 98, 0.5);
  }
  .callnum{
    position: relative;
.remove-sub-button {
    top: 15px;
  }
}
.btn-callnum{
  width: 130px;
  font-size: 14px;
  
}