
<div>
    <div class="modal-header">
      <h4 class="modal-title" translate>add-book</h4>
      <button type="button" class="close btn" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span style="font-size: 40px; color: #333;" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="service-form">
            <form #f="ngForm">
                <div class="row"  >
                    <div class="col-md-4">
                        <div class="mb-2">
                        <label class="form-label" translate="">{{ "form.bookaddress" | translate }}</label>
                        <input [(ngModel)]="SearchVM.title" name="title"
                            
                            type="text"  class="form-control" 
                            placeholder="{{ 'form.bookaddress' | translate }}"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-2">
                        <label class="form-label" translate="">{{ "form.author" | translate }}</label>
                        <input [(ngModel)]="SearchVM.author" name="author"
                         
                            type="text"   class="form-control" 
                             placeholder="{{ 'form.author' | translate }}"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-2">
                        <label class="form-label" translate="">{{ "form.publisher" | translate }}</label>
                        <input [(ngModel)]="SearchVM.publisher" name="publisher"
                            type="text"  class="form-control" 
                            placeholder="{{ 'form.publisher' | translate }}"/>
                        </div>
                    </div>
                    <!-- <div class="col-md-4">
                        
                        <div class="mb-2">
                            <label class="form-label" translate>{{ "publish-date" | translate }}</label>
                            <div class="input-group">
                              <button class="input-group-text" (click)="d.toggle()" id="basic-addon1">
                                <i class="fa fa-calendar"></i>
                              </button>
                              <input
                               name="dp"
                              class="form-control" placeholder="yyyy-mm-dd"  (click)="d.toggle()"
                              ngbDatepicker
                              #d="ngbDatepicker" >
                            </div>
                          </div>
                    </div> -->
                    <div class="col-md-4 d-flex">
                        <div class="mb-3">
                            <a (click)="Search()"  class="btn btn-public"  style="margin-top: 32px; width: 150px; " >
                            <i class="fas fa-search" style="margin: 0 10px; font-size: 16px;"></i>
                            <span translate="">search</span>
                            </a>
                        </div>
                        &nbsp; &nbsp;
                        <div class="mb-3">
                            <a (click)="Clear()"  class="btn btn-danger"  style="margin-top: 32px; height: 40px; font-weight: 600px; width: 150px; " >
                            <i class="fas fa-times" style="margin: 0 10px; font-size: 16px;"></i>
                            <span translate="">clear-search</span>
                            </a>
                        </div>
                        
                    </div>
                </div>
    
                <div class="table-responsive">
                    <table id="bookSearch" class="table table-striped ">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col" translate="">form.bookaddress</th>
                          <th scope="col" translate="">form.author</th>
                          <th scope="col" translate="">publish-date</th>
                          <th scope="col" translate="">form.publisher</th> 
                          <!-- <th scope="col" translate="">book-page-num</th>  -->
                           <th style="width: 12%; text-align: start;" translate="">req-actions  </th> 
                        </tr>
                      </thead>
                      <tbody >
                        <tr *ngFor="let req of ListToView;let i = index">
                          <th scope="row">{{i+1}}</th>
                          <td>{{req.title}}</td>
                          <td>{{req.contributors[0]?.name}}</td>
                          <td>{{req.publication[0]?.dateOfPublication}}</td>
                          <td>{{req.publication[0]?.publisher}}</td>
                          <!-- <td></td> -->
                          <td style="text-align: start">
                            <div class="form-check">
                                <input class="form-check-input" [(ngModel)]="req.isChecked" name="isChecked" (click)="CheckOnlyOne(req.id)"   type="checkbox" id="flexCheckDefault">
                                
                              </div>
                           </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
    
               
               
              <div class="row justify-content-center">
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-submit" (click)="Add()" translate>add</button>
                    </div>
                </div> 
            </form>
        </div>
    </div>
  
  </div>