
$mainfontBold:fedra-B;
$mainfontRegular:fedra-R;
$maincolor:#297162;
$goldcolor:#B19556;
$textcolor:#00a6cf;
$placeholder-color:#0F2056;
$bluecolor:#0F2056;
$grayback2:#a7a9ac;
$footerback:#00839b;
$mainmenusize:16px;
$dropmenusize:14px;
$headingsize:20px;


